_output/
.idea
.DS_Store
*.INFO
*.WARNING
*.ERROR
*.log.*

# Eclipse
.classpath
.project
.settings/

# Bazel.
bazel-bin
bazel-genfiles
bazel-ease-gateway
bazel-out
bazel-testlogs
*.bin
bin/

# Go vendor directory
#vendor

# Generated travis files
.travis.yml

# Java files
*.exe
target/
